In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [4]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size = (n_rows, n_cols)),
                  columns = cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq = 'D')
df

C:\Users\User\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

            col1  col2
2000-01-01     3     2
2000-01-02     2     1
2000-01-03     5    12
2000-01-04     6    12
2000-01-05    13    10
...          ...   ...
2000-12-26     9    17
2000-12-27    16     6
2000-12-28     2    15
2000-12-29    13    18
2000-12-30    10     8

[365 rows x 2 columns]

In [5]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2000-01-03     5    12
2000-01-04     6    12
2000-01-05    13    10
2000-01-06     9     9
2000-01-07    13    11
2000-01-10     3     8
2000-01-11    18    19

In [6]:
weekdays_df = df[df.index.dayofweek.isin([5, 6])]
weekdays_df.head(7)

            col1  col2
2000-01-01     3     2
2000-01-02     2     1
2000-01-08     8     5
2000-01-09     7    16
2000-01-15    15    13
2000-01-16     3     6
2000-01-22    14     4